@import url(fonts.less);
@default-font: "raleway", sans-serif;

body{
	font-family: @default-font;
	padding: 0;
	margin: 0;
	background: wheat;
	display: grid;
	height: 100vh;
	grid-template-columns: minmax(200px, 250px) 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header header"
						 "leftColumn centerColumn"
						 "footer footer";
}
.hideme{
	display: none;
}
#registerBoxHidden{
	display: none;
}

input {
	font-family: @default-font;
	font-weight: 600;
	opacity: .6;
	color: grey;
	text-align: center;
}
#header {
	grid-area: header;
	display: flex;
	justify-content: center;
	margin: 0 0 0 250px;
	.mainPage{
		display: block;
		position: absolute;
		top: 5px;
		left: 10px;
		text-decoration: none;
		text-transform: uppercase;
		color: midnightblue;
		font-size: 18px;
		font-weight: 800;
		padding: 15px;
		box-shadow: 0 0 1px rgba(0,0,0, .5);
		margin: 20px 25px;
		&:hover{
			box-shadow: 0 0 3px rgba(0,0,0, .9);
			transition: all .5s;
		}
	}
}
#leftColumn {
	grid-area: leftColumn;
	margin-right: 20px;
	//display: flex;
	.menuCaption {
		text-align: center;
		text-transform: uppercase;
		color: midnightblue;
		font-size: 14px;
		font-weight: bold;
		margin: 20px 0;
	}
	.menu {
		//background: #676767;
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			a {
				color: darkgrey;
				font-size: 14px;
				display: block;
				padding: 10px;
				text-decoration: none;
				text-transform: uppercase;
			}

			&:hover {
				background: #153243;
			}
		}
		.mainMenu {
			margin-top: 10px;
			border-top: 1px solid #4a4a4a;
			margin-left: 5px;
			a {
				font-weight: bold;
			}
		}
		.subMenu{
			margin-left: 15px;
		}
	}

	.cartCaption{
		display: block;
		text-align: center;
		margin-bottom: 50px;
		a{
			text-decoration: none;
			color: lightslategrey;
			text-transform: uppercase;

		}
		span {
			color: midnightblue;
			font-weight: bold;
		}
	}


	#registerBox, #loginBox {
		text-align: center;

		.showHidden{
				cursor: pointer;
				&:hover{
					margin: 0 20px 20px;
					background: white;
					transition: all .3s;
					color: blue;
					height: 25px;
					padding-top: 10px;
					box-shadow: 2px 2px 3px black;
				}
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			height: 26px;
			font-size: 14px;
			margin-bottom: 5px;
			margin-left: 5px;
			border-radius: 4px;
			padding-left: 24px;
			text-align: start;
			font-style: italic;
			&:hover {
				box-shadow: 0 0 6px 2px rgba(58, 219, 253, .3);
			}
		}
		input[type="button"] {
			text-align: center;
			display: block;
			margin: 5px auto 20px auto;
			padding: 13px 30px;
			font-size: 16px;
			background: #fff;
			color: #2c536c;
			border: none;
			cursor: pointer;
			box-shadow: 2px 2px 2px rgba(125, 125, 125, .8);

			&:hover {
				border-bottom: 3px solid #7db2c3;
				box-shadow: none;
				transition: all .5s;
				background: blue;
				color: #eee;
			}
			&:active {
				width: 178px;
				border-radius: 5px;
				border: none;
				bottom: -7px;
				box-shadow: none;
			}
			/*&:active:before {
				border: none;
				//box-shadow: 0 0 10px rgba(0,0,0,.6) inset;
				width: 178px;
			}*/
		}

		.input::before {
			font-family: "FontAwesome";
			position: absolute;
			font-size: 20px;
			padding: 5px 0 0 12px;
			color: #2c536c;
		}
		.input:hover::before {
			color: #319ebc;
			transition: all .3s;
		}
		.email::before {
			content: "\f007";
		}
		.password::before {
			content: "\f023";
		}

		.loginBtn input[type="button"]{
			&:active {
				width: 118px;
			}
		}
	}

	#userBox {
		margin-top: 30px;
		text-align: center;
		a {
			display: block;
			padding: 4px;
			text-decoration: none;
			text-transform: uppercase;
			color: darkslategray;
			font-size: 17px;
			font-weight: bold;
			.fa {
				margin-right: 3px;
			}
		}
	}
}

#centerColumn{
	grid-area: centerColumn;

	.title, h4{
		text-align: center;
	}
	.prod-wrap{
		text-align: center;
		img{
			height: 150px;
			width: 150px;
		}
	}
	.categoryProducts{
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		//flex-direction: row;
		//justify-content: space-around;
		//flex-wrap: wrap;
		list-style: none;
	}
	.products{
		text-align: center;
		flex-basis: 200px;
		a{
			color: darkgrey;
			font-size: 14px;
			display: block;
			padding: 10px;
			text-decoration: none;
			text-transform: uppercase;
			img{
				height: 100px;
				width: 100px;
			}
		}
	}
	.pageTitle {
		display: block;
		text-align: center;
	}
	.categoryName{
		display: block;
		text-align: center;
		li{
			list-style: none;
			a{
				text-decoration: none;
				color: #153243;
				&:hover{
					color: lightseagreen;
				}
			}
		}
	}

	.ordersData{
		display: block;
		text-align: center;
		h3{
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
		}
		h4{
			font-size: 18px;
		}
	}
	.cartOrdersInfo{
		max-width: 900px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 2fr auto;
		grid-template-areas: "left center right";
		border-bottom: 1px dotted black;
		li{
			list-style: none;
			a{
				text-decoration: none;
				color: #3e77aa;
			}
		}
		.cart-img{
			grid-area: left;
			display: flex;
			align-items: center;
			justify-content: space-around;
			li{
				margin: 5px;
				font-size: 18px;
				img{
					height: 80px;
					width: 80px;
				}
			}
		}
		.cart-title{
			grid-area: center;
			display: flex;
			flex-direction: column;
			li{
				display: flex;
				margin: 20px 40px 0 0;
				justify-content: space-between;
				input{
					width: 50px;
				}
			}
		}
		.cart-sum{
			grid-area: right;
			margin-right: 10px;
			text-align: center;
		}
	}
	form{
		input[type="submit"],
		input[type="button"]{
			text-align: center;
			display: block;
			margin: 25px auto;
			padding: 13px 30px;
			font-size: 16px;
			background: #fff;
			color: #2c536c;
			border: none;
			cursor: pointer;
			box-shadow: 2px 2px 2px rgba(125, 125, 125, .8);

			&:hover {
				border-bottom: 3px solid #7db2c3;
				box-shadow: none;
				transition: all .5s;
				background: blue;
				color: #eee;
			}
		}
		span{
			display: block;
			font-weight: bold;
			text-align: center;
		}
	}


	.orderData{
		display: flex;
		max-width: 900px;
		margin: 5px auto 0;
		flex-direction: row;
		justify-content: space-around;
		li{
			padding-top: 20px;
			list-style: none;
			a{
				text-decoration: none;
			}
		}
		li:first-child{
			padding: 0;
		}
	}
	.orderUserInfoBox{
		width: 400px;
		margin: 0 auto;
		h2{
			text-align: center;
		}
		.customerName, .customerPhone, .customerAddress{
			margin-top: 20px;
			font-size: 16px;
			font-style: italic;
			display: flex;
			justify-content: space-between;
			input{
				width: 200px;
				border-radius: 5px;
				height: 22px;
				line-height: 22px;
				color: #111111;
				box-shadow: none;
			}
		}
	}

	.userData{
		width: 700px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		.inputBox{
			display: flex;
			height: 30px;
			font-size: 16px;
			margin: 10px;
			.labelText{
				width: 250px;
				text-align: center;
			}
			input{
				width: 100%;
				margin-right: 20px;
			}
		}
	}
	.button {
		text-align: center;
		float: right;
		display: block;
		margin: 5px 20px 20px auto;
		padding: 13px 30px;
		font-size: 16px;
		background: #fff;
		color: #2c536c;
		border: none;
		cursor: pointer;
		box-shadow: 2px 2px 2px rgba(125, 125, 125, .8);

		&:hover {
			border-bottom: 3px solid #7db2c3;
			box-shadow: none;
			transition: all .5s;
			background: blue;
			color: #eee;
		}
		&:active {
			width: 178px;
			border-radius: 5px;
			border: none;
			bottom: -7px;
			box-shadow: none;
		}
	}

	#registerBox{
		width: 500px;
		margin: 0 auto;
		h3{
			text-align: center;
		}
		.email, .name, .password, .address, .phone{
			margin-top: 20px;
			font-size: 16px;
			font-style: italic;
			display: flex;
			justify-content: space-between;
			input{
				width: 200px;
				border-radius: 5px;
				height: 22px;
				line-height: 22px;
				color: #111111;
				box-shadow: none;
			}
		}
	}
	#loginBox{
		width: 500px;
		margin: 0 auto;
		h3{
			text-align: center;
		}
		.email, .password{
			margin-top: 20px;
			font-size: 16px;
			font-style: italic;
			text-align: center;
			input{
				width: 200px;
				border-radius: 5px;
				height: 22px;
				line-height: 22px;
				color: #111111;
				box-shadow: none;
			}
		}
	}

	.orderStatus{
		&-red{
			font-family: "firasans", sans-serif;
			color: red;
		}
		&-green{
			font-family: "firasans", sans-serif;
			color: green;
		}
	}
	.userOrders{
		width: 700px;
		margin: 0 auto;
		margin-top: 40px;
		li{
			list-style: none;
		}
		h3{
			text-align: center;
		}
		.userOrderInfo-hidden{
			display: none;
		}
		.userOrder{
			background-color: #fff;
			border-radius: 15px;
			padding: 5px 10px;
			height: 50px;
			line-height: 60px;
			margin: 20px 0;
			display: flex;
			justify-content: space-between;

			&:before{
				font-family: fontawesome;
				content: '\f078';
				position: relative;
				left: 15px;
				bottom: 2px;
				font-size: 12px;
				color: #111;
				transition: all .4s;

			}
			&.in {
				&:before {
					transform: rotate(180deg);
					position: relative;
					left: 15px;
					bottom: -4px;
					transition: all .4s;
				}
			}

			.listImg {
				img{
					max-height: 50px;
					max-width: 100%;
					height: auto;
					width: auto;
				}

			}
			&:hover{
				box-shadow: 0 0 14px black;
			}
		}
		.userOrderInfo{
			display: grid;
			grid-template-columns: 2fr auto;
			grid-template-rows: auto auto;
			grid-template-areas: "left right"
								 "bottom right";
			.userOrderInfo-left {
				grid-area: left;
				.orderInfo-left{
					display: grid;
					grid-template-columns: auto 1fr auto;
					grid-template-rows: auto auto;
					grid-template-areas: "img name name"
										 "img price real-price";
					.prodImg{
						grid-area: img;
						max-width: 150px;
						max-height: 150px;
						img{
							max-width: 150px;
							max-height: 150px;
						}
					}
					.prodName{
						grid-area: name;
						margin-left: 40px;
					}
					.prodPrice{
						grid-area: price;
						margin: 0 20px;
						display: flex;
						justify-content: space-between;
					}
					.summaryInfo{
						grid-area: real-price;
						margin-right: 20px;
					}
				}
			}
			.orderInfo-right{
				grid-area: right;
				border-radius: 10px;
				border-left: 1px solid #fff;
				padding-left: 8px;
			}
			.orderInfo-bottom{
				grid-area: bottom;
				display: flex;
				justify-content: space-between;
				p:first-child{
					font-weight: bold;
				}
				p:last-child{
					font-weight: 800;
					font-style: italic;
				}
			}
		}
	}

	.paginator{
		font-size: 22px;
		display: block;
		width: 100px;
		margin: 25px auto;
		height: 30px;
		line-height: 30px;
		i{
			font-size: 22px;
			font-weight: bold;
		}
	}
}



#footer{
	grid-area: footer;
	display: flex;
	justify-content: center;
	background: darkgray;
}
